@font-face {
  font-family: digital-7-mono;
  src: url("../vendor/digital-7-mono.ttf") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  background: #ACE
}

app {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: auto auto 3fr;
  gap: 1em;
  padding: 2em;
  box-sizing: border-box;

  font-family: Helvetica;
}

app .banner {
  font-weight: bold;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

controls {
  display: grid;
  justify-content: space-around;
  align-items: space-around;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

controls button {
  font-size: 2em;
  background: none;
  border: none;
}

controls button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25)
}

competitors {
  display: grid;
  gap: 2em;

  width: 100%;
  overflow: visible;
}

competitor {
  width: 100%;
  overflow: visible;
  display: grid;
  grid-template-rows: auto 1fr;
  border: 2px solid rgba(0, 0, 0, 1);
}

competitor.scrambling time {
  background: rgba(255, 255, 255, 0.5);
}

competitor.beingScrambled twisty {
  background: rgba(255, 255, 255, 0.5);
}

competitor.takingTurn {
  background: rgba(255, 255, 255, 0.5);
}

competitor.won {
  background: rgba(128, 220, 128);
  border: 2px solid green;
}

competitor.lost {
  background: rgb(255, 192, 192);
  border: 2px solid red;
}

competitor.tied {
  background: rgb(255, 223, 158);
  border: 2px dashed rgb(255, 192, 0);
}

competitor-control-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid black;
}

competitor-control-bar button,
competitor-control-bar counter,
competitor-control-bar a {
  height: 100%;
  font-size: 1em;
  font-family: sans-serif;
  padding: 0.25em 0.5em;
  box-sizing: border-box;
}

competitor-control-bar a {
  color: black;
}

competitor-control-bar counter {
  font-size: 6em;
  font-family: digital-7-mono;
  border-right: 1px solid black;
  /* background: rgba(255, 255, 255, 0.4); */
}

competitor-control-bar time {
  font-size: 6em;
  font-family: digital-7-mono;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0.215em 0em 0.1em;
  /* background: rgba(255, 255, 255, 0.4); */
}

twisty player {
  background: none !important;
  background-image: none !important;
}

svg {
  max-height: 70vh;
}
